<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items; let index = index">
      <ion-avatar slot="start">
        <img [src]="'https://picsum.photos/80/80?random=' + index" alt="avatar" />
      </ion-avatar>
      <ion-label>{{ item.title }}</ion-label>
      <ion-button slot="end" color="secondary" shape="round" routerLink="/add-todo/{{item._id}}"><ion-icon slot="icon-only" name="create-outline"></ion-icon></ion-button>
      <ion-button slot="end" color="danger" shape="round" (click)="onDelete(item._id)"><ion-icon slot="icon-only" name="trash-outline"></ion-icon></ion-button>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button slot="end" shape="round" routerLink="/add-todo/new"><ion-icon slot="icon-only" name="add-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-footer>
